body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer{
  background-color:#212529;
  
   
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    

}
@media screen and (max-width: 768px) {
  .footer {
    position: fixed; /* Change position to fixed for screens smaller than 768px */
  }
}
footer:nth-child(){
  border-top: 1px solid 1px solid rgba(255,255,255,0.1);
}
footer .input-group-text{
  background-color: var(--color-232f3e);
  color:white;
  padding:8px 17px;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #9a97a0;
  color: #000000;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
.privacy-policy-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.privacy-policy-container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.privacy-policy-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.shipping-policy-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shipping-policy-container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.shipping-policy-container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.shipping-policy-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
/* About CSS */
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-container h1 {
  font-size: 24px;
  font-weight: bold;
}

.about-container p {
  font-size: 16px;
  line-height: 1.5;
}

/* FAQ CSS */
.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.faq-container h1 {
  font-size: 24px;
}

.faq-container ul {
  list-style-type: none;
}

.faq-container li {
  margin-bottom: 20px;
}

.faq-container strong {
   font-weight: bold;
}

/* Contact CSS */
.contact-container {
    max-width:800px;
    margin:auto;
    padding:20px;
    background-color:#f5f5f5;
    border-radius:10px;
    box-shadow:0px,0px,10px rgba(0,0,0,0.1);
}

.contact-container h1{
    font-size:24px;
    font-weight:bold;

}

.contact-container ul{
    list-style-type:none;

}
.contact-container li{
    margin-bottom :20px;

}
.contact-container strong{
    font-weight:bold;

}
